<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withdraw</title>
    <link rel="stylesheet" href="/static/tokenid.css">
    
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/tokenidpage">Get Your TokenId</a></li>
            <li><a href="/withdrawpage">Withdraw</a></li>
        </ul>
    </nav>
    <h2>Withdraw Funds</h2>
    <form action="/addwithdrawform" method="POST">
        <button type="submit">Withdraw</button>
    </form>
    {% if response %}
        <p>{{ response }}</p>
    {% endif %}
</body>
</html>
